<ng-container *ngIf="products.length != 0">
    <div>
        <div class="card-table">
            <div class="cart-product">
                <table>
                    <thead>
                        <tr>
                            <th> Sr. No </th>
                            <th> Product Name </th>
                            <th> Product Image </th>
                            <th> Description </th>
                            <th> Price </th>
                            <th> Quantity </th>
                            <th> Total </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td> {{i+1}} </td>
                            <td> {{item.title}} </td>
                            <td> <img src="{{item.image}}" alt={{item.title}}> </td>
                            <td> {{item.description}} </td>
                            <td> {{item.price}} </td>
                            <td> {{item.quantity}} </td>
                            <td> {{item.total}} </td>
                            <td>
                                <button (click)="removeItem(item)"> Delete </button>
                            </td>
                        </tr>
                        <br/>
                        <td><button (click)="emptyCart()">Empty Cart</button></td>
                        <td><button routerLink="/product">Shop More</button></td>
                        <td><button>Check out</button></td>
                        <td><strong>Grand Total: {{grandTotal}}</strong></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
    <div>
        <div class="card">
            <h5> My Cart </h5>
        </div>
        <div class="center">
            <img src="{{image_url}}/cart.png" alt="">
            <h4> Your cart is empty! </h4>
            <h5> Add item to it now. </h5>
            <button routerLink="/product"> Shop Now </button>
        </div>
    </div>
</ng-container>


