<header>
    <div>
      <div>
        <!--logo here -->
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">JaHeEd Shopping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cart">
            <i class="fas fa-cart-plus"></i>
          </a>
            <span>{{totalItem}}</span>
        </li>
      </ul>
      <!-- if logged in -->

        <span>{{totalItem}}</span>
      <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>

      
      <!-- if not logged in-->
      <!-- <a href="/login">LOG IN</a> -->
    </div>
  </header>
  