<div class="card-top container fluid">
    <div class="container d-flex">
        <div class="category">
            <a (click)="filter('')">
                <img src="{{image_url}}/all_products.jpg" alt="All Products">
                <h6> All Products </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('mobiles')">
                <img src="{{image_url}}/mobiles.jpg" alt="Mobiles">
                <h6> Mobiles </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('mens apparel')">
                <img src="{{image_url}}/mens_apparel.jpg" alt="Men's Apparel">
                <h6> Men's Apparel </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('womens apparel')">
                <img src="{{image_url}}/womens_apparel.jpg" alt="Women's Apparel">
                <h6> Women's Apparel </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('laptops and computers')">
                <img src="{{image_url}}/laptops.jpg" alt="Laptops and Computers">
                <h6> Laptops and Computers </h6>
            </a>
        </div>
        <div class="category">
            <a (click)="filter('pets care')">
                <img src="{{image_url}}/petscare.jpg" alt="Pet's Care">
                <h6> Pet's Care </h6>
            </a>
        </div>
    </div>
</div>
