h5, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

img {
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card {
    padding: 20px;
    margin: 50px;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.3s ease-in-out 
}