<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>JaHeEd Shopping Center</h1>
                    <h6>Forgot Password</h6>
                </div>
                <form >
                        <div class="mb-3">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" formControlName="username" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Username">
                          </div>
                        <button  type="submit" class="btn btn-primary">Show Password</button>       
                      <a style="color: #fff; " routerLink="../login" class="btn btn-link">Back to login</a>
                </form>
            </div>
        </div>
    </div>
</div>
